[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/khacluongspk
[access "refs/for/refs/*"]
	read = group user/khacluongspk
	push = group user/khacluongspk
	label-Code-Review = -2..+2 group user/khacluongspk
	label-Verified = -1..+1 group user/khacluongspk
	rebase = group user/khacluongspk
	removeReviewer = group user/khacluongspk
	submit = group user/khacluongspk
[access "refs/heads/*"]
	read = group user/khacluongspk
	create = group user/khacluongspk
	push = +force group user/khacluongspk
	pushMerge = group user/khacluongspk
[access "refs/tags/*"]
	push = group user/khacluongspk
	push = +force group user/khacluongspk
